body{
    font-family: "Trebuchet MS", arial;
    margin: 0;
}

h1{
    line-height: 100px;
    margin-top: 15px;
}

#total{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: auto;
    background-color: #d6d2d2;
}

#topo{
    width: 100%;
    height: 110px;
    float: left;
    background-color: #6495ED;
    
    
}

#menu{
    width: 70%;
    height: 110px;
    float: right;
    text-align: left;
    background-color: #6495ED;
}

#logot{
    float: right;
    width: 30%;
}

#menu a{
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    line-height: 110px;
    margin-left: 25%;
}

#principal{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 400px;
    text-align: center;
    
}

#principal a{
    text-decoration: none;
    
}

.calendario{
    width: 10px;
    height: 20px;
}

#primeiro{
    width: 45%;
    float: left;
    margin-top: 50px;
    margin-left: 5%;
    
}

#segundo{
    width: 45%;
    margin-top: 50px;
    float: right;
    margin-right: 5%;
}

#secundario{
    float: left;
    width: 100%;
    height: 210px;
    text-align: center;
    background-color:#6495ED; 
}

#rodape{
    float: left;
    width: 980px;
    height: 100px;
    background-color: #000000;
    color: white;
    margin-left: 450px;
}

#endereco{
    float: left;
    margin-left: 10%;
}

#contato{
    float: right;
    margin-right: 10%;
}
