body{
    font-family: "Trebuchet MS", arial;
    margin: 0;
}

h1{
    color: #333;
    font-size: 22px;
}

h2{
    color: #333;
    font-size: 18px;
}

p{
  color: #666;
  line-height: 120%;
}

#total{
    width: 100%;
    max-width: 980px;
    height: auto;
    margin: auto;
}

#topo{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

#logo{
    width: 204px;
    height: 84px;
    margin: 20px auto;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: #111111;
    float: left;
    text-align:center;
    border-radius: 5px;
    margin-bottom: 2px;
}

#menu a{
     color: #ffffff;
     font-size: 14px;
     line-height: 40px;
     text-decoration: none;
     margin-left: 25px;
     margin-right: 25px;
}

#menu a:hover{
   text-decoration: underline;
}

#banner{
    width: 100%;
    height: auto;
    float: left;
}

#banner img{
    width: 100%;
}

#conteudo{
    width: 60%;
    float: left;
}

#coluna{
    width: 35%;
    float: right;
}

#rodape{
    width: 100%;
    min-height: 30px;
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    background-color: #DBC0AD;
    text-align: center;
    margin-top: 40px;
}