#total{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

#menu{
    background-color: #C0C0C0;
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

#menu a{
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    float: center;
    text-align: center;
    
}

#logo{
    float: left;
    background-color: #C0C0C0;
    
}

#fotobanda{
    float: left;
    width: 100%;
}

#principal{
    float: left;
    width: 40%;
    margin-left: 100px;
}

#secundaria{
    float: right;
    width: 40%;
    margin-right: 100px;
}

#rodape{
    float: left;
    width: 100%;
    height: 40px;
    background-color: black;
    color: #ffffff;
    line-height: 40px;

}

