#total{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

#menu{
    background-color: #C0C0C0;
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

#menu a{
    color: #ffffff;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    float: center;
    text-align: center;
    
}

.btn:hover{
    background-color: red;
}

.janela-modal{
    width: 50%;
    height: 100px;
    top: 60px;
    font-size: 100px;
    left: 0;
    display: none;
    text-align: center;
    justify-content: center;
    z-index: 999;
}

.modal{
    width: 60%;
    min-width: 450px;
    min-height: 200px;
    background-color: #fff;
    backdrop-filter: blur(10px);


}

.fechar{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 20px;

}

.janela-modal.abrir{
    display: flex;
}

#logo{
    float: left;
    background-color: #C0C0C0;
}

#rodape{
    background-color: #C0C0C0;
    width: 100%;
    height: 60px;
    float: left;
    text-align: left;
}

