body{
    font-family: "Trebuchet MS", arial;
    margin: 0;
}

#h1{
    font-size: 22px;
}

#topo{
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}
#menu{
    background-color: #C0C0C0;
    width: 100%;
    height: 40px;
    float: left;
    text-align: center;
}

#menu a{
    color: #ffffff;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    margin-left: 60px;
    margin-right: 60px;
    float: center;
    text-align: center;
    
}

#logo{
    float: left;
    background-color: #C0C0C0;
    margin-left: 10px;
}
#conteudo{
    width: 40%;
    height: 900px;
    text-align: center;
    margin-top: 10px;
    line-height: 100px;
    float: left;
}

#secundario{
    width: 50%;
    height: 900px;
    float: right;
    margin-top: 10px;
}

#rodape{
    width: 100%;
    height: 30px;
    background-color: #C0C0C0;
    color: #ffffff;
    text-align: left;
    line-height: 1px;
    float: left;
}