h1, h2{
    text-align: center;
    margin-top: 0px;
    line-height: 190 px;
}
main{
    width: 1080px;/*tamanho(largura) do elemento [largura]*/
    height: auto; /*tamanho(altura) do elemento [pixel] */
    margin: auto;
}

nav{
    font: normal 15px arial;
    background-color: blueviolet;
    height: 50px;
    width: 1080px;;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    float: left;
}
nav a{
    color: white; /*altera a cor da fonte */
    line-height: 50px;
    margin: 0px 20px;
    
}

article{
    font:normal 20px arial;
    background-color: brown;
    height: 450px;
    width: 535px;
    float: left;
    margin-right: 10px;
    line-height: 275px;
    text-align: center;
}

    
aside{
    background-color: fuchsia;
    height:right 450px;
    width:right 535px;
    
}

footer{  
    background-color: black;
    font: normal 10px  arial white;
    width: 1080px;
    height: 30px; 
    float: left;
    color: white;
    margin-top: 10px;
    line-height: 20px;
}

#logotipo{
    background-color: green;
    width: 1080px;
    height: 195px;
    margin-bottom: 10px;
    line-height: 150px;
    text-align: center;
    
}

#banner{
    background-color: #B0C4DE;
    width: 1080px;
    height: 195px;
    margin-bottom: 10px;
    line-height: 150px;
    text-align: center;
    }

#conteudo_1{
    background-color: aquamarine;
    width: 530px;
    height: 220px;
    line-height: 103px;
    text-align: center;
    float: left;
    margin-bottom: 10px;
 
    }

#conteudo_2{
    background-color: aqua;
    width: 535px;
    height: 220px;
    line-height: 103px;
    text-align: center;
    float: left;
}
/*Propriedade border*/